version: "3.8"

services:

  postgres:
    image: postgres:13
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: suitup
    ports:
      - "5433:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
  backend:
    build:
      context: .
      dockerfile: backend/Dockerfile.dev
    env_file:
      - ./backend/.env.development
    depends_on:
      - postgres
    volumes:
      - .:/app
      - node_modules:/app/node_modules
      - backend_node_modules:/app/backend/node_modules
    ports:
      - "3000:3000"
  frontend:
    build:
      context: .
      dockerfile: frontend/Dockerfile.dev
    env_file:
      - ./frontend/.env.development
    depends_on:
      - backend
    volumes:
      - ./frontend:/app/frontend
      - ./shared:/app/shared
      - node_modules:/app/node_modules
    ports:
      - "80:8081"

volumes:
  postgres_data:
  node_modules:
  backend_node_modules:
