version: "3.8"

services:
  postgres:
    image: postgres:13
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: suitup
    ports:
      - "5433:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
  backend:
    build:
      context: .
      dockerfile: backend/Dockerfile.dev
    env_file:
      - ./backend/.env
    depends_on:
      - postgres
    volumes:
      - .:/app
      - /app/node_modules
      - /app/backend/node_modules
      - ./backend/_do_importu:/app/_do_importu
      - ./uploads:/app/backend/uploads
    ports:
      - "3000:3000"
  frontend:
    build:
      context: .
      dockerfile: frontend/Dockerfile.dev
    env_file:
      - ./frontend/.env
    depends_on:
      - backend
    volumes:
      - ./frontend:/app/frontend
      - /app/frontend/node_modules
      - ./shared:/app/shared
    ports:
      - "80:8081"
  adminer:
    image: adminer
    depends_on:
      - postgres
    environment:
      ADMINER_DEFAULT_SERVER: postgres
    ports:
      - "8080:8080"

volumes:
  postgres_data:
