version: "3.8"

services:
  nginx:
    image: nginx:latest
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx/conf.d:/etc/nginx/conf.d
      - ./nginx/certs:/etc/nginx/certs
    depends_on:
      - backend
      - frontend
    networks:
      - app_network

  backend:
    image: ghcr.io/cichy28/suit-up/backend:latest
    env_file:
      - ./.env.production
    volumes:
      - ./backend/uploads:/app/uploads
      - ./backend/_do_importu:/app/_do_importu
    depends_on:
      - postgres
    networks:
      - app_network

  frontend:
    image: ghcr.io/cichy28/suit-up/frontend:latest
    depends_on:
      - backend
    networks:
      - app_network

  postgres:
    image: postgres:latest
    env_file:
      - ./.env.production
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - app_network

  cloudflared:
    image: cloudflare/cloudflared:latest
    command: tunnel run SuitApp
    env_file:
      - ./.env.production
    depends_on:
      - frontend
    networks:
      - app_network

networks:
  app_network:
    driver: bridge

volumes:
  postgres_data:
