version: "3.8"

services:
  postgres:
    image: postgres:latest
    env_file:
      - ./.env.production
    volumes:
      - postgres_data:/var/lib/postgresql
    networks:
      - app_network

  backend:
    image: ghcr.io/cichy28/suit-up/backend:latest
    env_file:
      - ./.env.production
    volumes:
      - ./backend/uploads:/app/uploads
      - ./backend/_do_importu:/app/_do_importu
    depends_on:
      - postgres
    networks:
      - app_network

  # Serwis, który wcześniej nazywał się 'frontend'.
  # Zmieniam nazwę na 'nginx', aby pasowała do konfiguracji Cloudflare.
  # Ten kontener zawiera już w sobie Nginx do serwowania aplikacji.
  nginx:
    image: ghcr.io/cichy28/suit-up/frontend:latest
    depends_on:
      - backend
    networks:
      - app_network
    # Opcjonalnie: odkomentuj, jeśli chcesz mieć dostęp do frontendu
    # bezpośrednio po IP NAS-a na porcie 8080, omijając Cloudflare.
    # ports:
    #   - "8080:80"

  cloudflared:
    image: cloudflare/cloudflared:latest
    # Używamy teraz konfiguracji z pliku, aby wskazać na poprawny serwis.
    command: tunnel --config /etc/cloudflared/config.yml run
    volumes:
      - ./cloudflare/config.yml:/etc/cloudflared/config.yml
    env_file:
      - ./.env.production
    depends_on:
      - nginx # Zmieniono z 'frontend' na 'nginx'
    networks:
      - app_network

networks:
  app_network:
    driver: bridge

volumes:
  postgres_data: